 /* style for font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* style for whole  section */

*{
  padding: 0;
  margin: 0;
}
body{
  background-color: #F5F8FF;
}

/* style for shared section */
.title{
     font-size: 3.8rem;
     font-weight: bold;
     color: #E95A08;
     margin-bottom: 10px;
}

.description{
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.5);
    padding-right:20px ;
}

.btn{
  height: 40px;
  width: 100%;
  color: #ffffff;
  background-color: #E95A08;
  border:none;
  cursor: pointer;
}
/* style for header section */
nav{
  max-width: 1140px;
  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
}
.nav-items{
  display: flex;
  justify-content: center;
 
  gap: 30px;
}
.nav-item{
  list-style: none;
}
.nav-link{
  text-decoration: none;
  color:#8987A1 ;

}
.item-1{
  font-size: 1.2rem;
  font-weight: bold;
  color: #252432;
}
.item-4{
  color: #252432;
}

/* style for hero section */

.hero-section{
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items:end;
  margin: 100px auto;
}

.hero-section img{
  width: 100%;
}
.dark1{
  color: #000000;
}

/* style for card section */

.card{
 max-width: 1140px;
 margin: 100px auto;
 text-align: center;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.card-info{
  max-width: 700px;
  margin-bottom: 100px;
}
.card-info .description{
  padding: 0;
}
.card-container{
  display: grid;
  grid-template-columns: repeat(4,270px);
  justify-content: center;
align-items: center;
  margin: 20px auto;
}
.card-item{
  margin: 20px ;
}
.card-item img{
    width: 100%;
}
.flower-name{
  font-weight: 500;
  font-size: 1.2rem;
  color: #111111;
}
.card-price{
  font-size: 1.2rem;
  font-weight: bold;
  color: #111111;
  margin: 20px auto;
}


/* style for trusted seller section */

.trusted-seller{
  max-width: 1140px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
}
.flower-store{
  width: 100%;
}
.badge{
  height: 200px;
  width: 200px;
  position:relative;
  top: -300px;
  left: -120px;
}

.details .title{
  color: #111111;
}
.details .description{
  margin-top: 20px;
  padding-right: 100px;    
  font-size: 1.2rem;
  
}

/* style for deal section */

.deal{
  max-width: 1140px;
  text-align: center;
  margin: 100px auto ;
}
.deal .description{
  padding: 0px 200px;
}
.deal-images-container{
  display: grid;
  grid-template-columns: repeat(2,550px);
  grid-template-rows: 400px;
  margin-top: 100px;
 
}
.deal-images{
  display: grid;
  grid-template-columns: 530px;
  grid-template-rows: repeat(2,190px);
  gap: 20px;
 
}
.image-1{
  background-image: url(./images/deal-bloom.png);
  background-size: cover;
  filter:brightness(70%);
  border-radius: 12px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.image-2{
  background-image: url(./images/deal-ana.png);
  background-size: cover;
  filter:brightness(70%);
  border-radius: 12px;
   display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;

}
.image-3{
  background-image: url(./images/deal-zabo.png);
  background-size: cover;
  filter:brightness(70%);
  border-radius: 12px;
   display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.deal-images-container p , .deal-images-container a{
  font-size: 1.2rem;
  font-weight: bold;
  color: #ffffff;
}

/* style for subscribe section */


.subscribe{
  width: 100%;
  height: 500px;
  margin: 100px auto;
  
 background-image: url(./images/news-letter-bg.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.subscribe-info .title{
  color: #ffffff;
  text-align: center;
}
.input-field{
  height: 40px;
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.subscribe-info input{
  height: 40px;
  width: 700px;
  margin-right: 0;
  border: none;
  padding: 0 20px;

}
.subscribe-info .btn{
  width: 120px;
  
 
}

/* style for footer section */

footer{
  max-width: 1140px;
  margin: 100px auto;
  display: flex;
  gap: 80px;
}
.footer-details{
  width: 300px;
}

.footer-list{
  list-style: none; 
  margin-top: 30px;
}
.footer-link{
  text-decoration: none;
  color: #8987A1;
 
}
.social-media img{
 
  margin-left: 30px;
}


/* style for mobile device */


@media screen and (max-width:576px) {
    /* style for nav section */
  .nav-item:nth-child(n+1){
   visibility:hidden;
   }
 
.item-4{
  visibility: visible;
  display: flex;
  width: 50px;
  font-size: 2rem;
} 

/* style for hero section */

.hero-section{
  flex-direction: column-reverse;
  width: 576px;
  margin: 20px;
  
}
.hero-section .title{
  padding-right: 100px;
  margin-top: 20px;
}

/* style for card section */
.card{
  width: 566px;
  margin: 5px;
}
  .card-container{
    grid-template-columns: repeat(2,270px);
  
  }

  /* style for trusted seller section */
  .trusted-seller{
    flex-direction: column;
    width: 566px;
    margin: 5px ;
    margin-top: 100px;
  }
  
  .badge{
    visibility: hidden;
  }
  .details .description{
   padding: 10px;
   margin: 30px;

  }

  /* style for deal container */

  .deal-images-container , .deal-images{
    
   display: flex;
   flex-direction: column;
    gap: 15px;

  }
  .deal .description{
    padding: 0;
    margin: 0;
    text-align: left;
    margin-left: 20px;
  }
  .image-1,.image-2,.image-3{
    height: 400px;
    width: 566px;
  }
  
  /* style for subcribe  section */

  .subscribe{
     width: 556px;
     height: 250px;
     margin: 20px auto;
  }
 .input-field{
  width: 400px;
  margin: 20px auto;
  justify-content: center;
 }
 .subscribe-info input{
  width: 300px;
 }
 .subscribe-info .title{
  font-size: 2rem;
 }

 /* style for footer section */
 footer{
  flex-direction: column;
  margin-left: 20px;
  gap: 20px;
 }
 
}
